Code/Cache/Cache_Data
Code
Docker Desktop
GitHub Desktop
Insomnia
OpenRGB
TabNine
autostart
balena-etcher
balenaEtcher
binwalk
composer
cubic
dconf
enchant
eog
evolution
gnome-control-center/backgrounds
google-chrome
gtk-3.0
ibus/bus
libreoffice/4/user
nautilus
neofetch
pulse
.config/terminator/plugins/__pycache__/terminator-themes.cpython-311.pyc
.config/nvim/mason
